.Layout{
    display: flex;
    flex-direction: row;
    height: 70vh;
  }
  
  .l-image{
    flex: none;
    flex-grow: 0;
    height: 120%;
    width: 50%;
    /* object-fit: cover; */
    /* border: 2px solid black; */
  }
  
  .container{
    flex: none;
    flex-grow: 0;
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
  }
  
  #wetto{
    text-align: center;
    margin-top: 20%;
  }
  
  #welcome{
    text-align: center;
  }
  
  
  #loginBox{
    /* border: 1px solid red; */
    margin-top: 70px;
    margin-left: 30%;
    margin-right: 30%;
    font-weight: 400;
  }
  
  #input{
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
  }
  
  #l-btn{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 48px;
  color: rgba(255, 255, 255, 0.9);;
  background: #333;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }

  #l-btn:hover {
    background-color: #555;
  }

  
  #l-account{
    position: absolute;
    margin-left: 15%;
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
  }
  
  #signUp{
    color: #3356D1;
    text-decoration-line: underline;
  }